.containerModal {
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: 99999999999;
    background: #0f7c8b;
    justify-content: center;
    &__modalConfirmClearTask {
        background-color: #fff;
        max-width: 480px;
        width: 100%;
        flex-direction: column;
        gap: 40px;
        padding: 30px;
        text-align: center;
        margin: 0 20px;
        border-radius: 3px;
        h2 {
            color: #0f7c8b;
            font-size: 40px;
        }
        &__buttons {
            flex-direction: column;
            gap: 16px;
            max-width: 100%;
            width: 100%;
            button {
                background-color: #dfdfdf;
                padding: 6px 10px;
                border-radius: 3px;
                max-width: 180px;
                width: 100%;
                margin: 0 auto;
                cursor: pointer;
                font-size: 16px;
                &:first-child {
                    background-color: red;
                    color: #fff;
                }
                &:hover {
                    background-color: #ccc;
                    color: #000;
                }
            }
        }
    }
}

.containerUndoAction {
    position: fixed;
    top: 100px;
    right: 0;
    padding: 12px;
    background: #fff;
    border-radius: 3px;
    max-width: 200px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    z-index: 999999999999999999999;
    transform: translateX(-70px);
    -webkit-transition: all 0.5s 0s linear;
    -moz-transition: all 0.5s 0s linear;
    -o-transition: all 0.5s 0s linear;
    transition: all 0.5s 0s linear;
    animation: undoEffect 1s linear;
    button {
        background: transparent;
        font-size: 14px;
        color: #262626;
        cursor: pointer;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    &::after {
        content: "";
        bottom: -1px;
        background: #00e0ff;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        animation: load 2s linear;
        border-radius: 3px;
    }
}

.listTask{
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    gap: 6px;
    position: relative;
    background-color: rgba(15, 124, 139, 0.1215686275);
    border-radius: 3px;
    padding: 6px 0;
}

.buttonLimpar {
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    button {
        background-color: #0f7c8b;
        padding: 8px 15px;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@keyframes undoEffect {
    0% {
        transform: translateX(200px);
    }
    25% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(-70px);
    }
}

@keyframes load{
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}