.listaItem {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    gap: 6px;
    position: relative;
    li {
        width: 100%;
        background-color: #dfdfdf;
        padding: 6px 10px;
        border-radius: 3px;
        button {
            position: absolute;
            right: 0;
            background: red;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            display: none;
            justify-content: center;
        }
        &:hover {
            & > button {
                display: flex;
            }
        }
    }
}

.buttonLimpar {
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    button {
        border: 1px solid #515151;
        padding: 4px;
        cursor: pointer;
        &:hover {
            border: 1px solid #262626;
        }
    }
}
