body, * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", serif;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

h1 {
  color: #515151;
}

.modal-center {
  background-color: #efefef;
  transform: translate(50%, -50%);
  top: 50%; 
  right: 50%;
  position: absolute;
  padding: 30px;
  flex-direction: column;
  gap: 30px;
  max-width: 340px;
  width: 100%;
  border-radius: 3px;
}

.modal-center .feedback-error {
  color: red;
  font-size: 12px;
}